.card {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  transform-style: preserve-3d;
  transition: 500ms ease-in-out;
}

.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
   
  }
  
  .card .face.front{
    font-size: 3rem;
    color: #212121;
    background: #FFf;
  }
  
  .flip {
    transform: perspective(500px) rotateY(180deg)
  }
  
  .card .face.back{
    font-size: 3rem;
    background: #111;
    color: white;
    transform: perspective(500px) rotateY(180deg)
  }
