@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  text-align: center;
}

.settingsHolder{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attemptHolder{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.settingsSelect{
  margin: 0 1rem;
}